version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: paper_db
    environment:
      POSTGRES_DB: paper_trading_db
      POSTGRES_USER: pratham
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pratham"]
      interval: 10s
      timeout: 5s
      retries: 5
    #ports:
    #  - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    environment:
      DATABASE_URL: postgresql+psycopg2://pratham:password@postgres:5432/paper_trading_db
      FLASK_CONFIG: prod
      FRONTEND_URL: ${RENDER_EXTERNAL_URL:-https://localhost}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
    depends_on:
      postgres:
        condition: service_healthy

  nginx:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
      args:
        VITE_API_URL: ${RENDER_EXTERNAL_URL:-https://localhost}
    #ports:
    #  - "80:80"
    #  - "443:443"
    depends_on:
      - backend
    expose:
      - "8080"

volumes:
  pgdata:
