version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: paper_db
    environment:
      POSTGRES_DB: paper_trading_db
      POSTGRES_USER: pratham
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    environment:
      DATABASE_URL: postgresql+psycopg2://pratham:password@postgres:5432/paper_trading_db
      FLASK_CONFIG: prod
      FRONTEND_URL: https://localhost
    depends_on:
      - postgres

  nginx:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
      args:
        VITE_API_URL: https://localhost
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend

volumes:
  pgdata:
