services:
  - type: postgres
    name: paper-trading-db
    databaseName: paper_trading_db
    user: pratham
    plan: free

  - type: web
    name: backend
    env: docker
    dockerfilePath: backend.Dockerfile
    dockerContext: .
    plan: free
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: paper-trading-db
          property: connectionString
      - key: FRONTEND_URL
        fromService:
          name: nginx
          type: web
          property: host
    healthCheckPath: /health

  - type: web
    name: nginx
    env: docker
    dockerfilePath: ./nginx/Dockerfile
    dockerContext: .
    plan: free
    envVars:
      - key: VITE_API_URL
        fromService:
          name: backend
          type: web
          property: host