@import "tailwindcss";

@theme {
  --color-primary: #6699cc;
  --color-primary-highlighted: #557FA8;
  --color-secondary: #c1c1c1;
  --color-accent: #f97316;
  --color-background: #f9fafb;
  --color-text: #111827;
  --color-text-light: #f9fafb;
}
